<table class="table table-user">
  <h2>User info</h2>
  <thead>
    <tr>
     <td><%= image_tag user.get_profile_image(100,100) %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>
 <%# <% if user.id == current_user.id %> 
<th colspan="2">
  <%= link_to edit_user_path(current_user), class:"btn btn-default btn-block" do %>
  <i class="fas fa-user-cog"></i></span>
  <% end %>
</th>